.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttonContainer button {
    border:none;
    border-radius: 5px;
    color: var(--primary-text-color);
    height: 2.5rem;
    width: 100%;
    padding:0rem 2rem;
    cursor: pointer;
}

.buttonContainer button:nth-child(1) {
    background-color: #3c83f3;
}

.buttonContainer button:nth-child(2) {
    background-color:#ef4444 ;
}