.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 100;
}

.left {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.brand {
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.center {
  font-size: 1rem;
  text-align: center;
}

.right {
  display: flex;
  align-items: center;
}

.profileIcon {
  color: #555;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.profileIcon:hover {
  transform: scale(1.1);
}

.date{
  color: #555;
}

.time{
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}