.container {
    width: 29rem;
    height: 14rem;
    background-color: var(--primary-container-color);
   border: 1px rgb(57, 52, 52) solid;
   border-radius: 10px;
   margin-top: 1rem;
   padding: 2rem 1rem;
   color: #f87272;

}

.container p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: -15px;

}