.container {
    display:flex;
    flex-direction: column;
    height: 20rem;
    background-color: var(--primary-container-color);
    border: 1px rgb(57, 52, 52) solid;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    padding: 1rem 2rem;
    color:white;
    margin-top: 1rem;
    overflow: hidden;
}

.appointmentHeader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.appointmentHeader h1 {
    font-size: 1.5rem;
    margin-top: 5px;
}

.appointmentHeader p {
    font-size:0.8rem;
    color: var(--secondary-text-color);
}

.tableContainer {
    flex: 1; /* Takes remaining space */
  overflow-y: auto; /* Enables vertical scrolling */
}

.tableContainer {
    /* Existing styles */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.tableContainer::-webkit-scrollbar {
    display: none;
}


.row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-container-color);
    border:none;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
}

.profileContainer {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.nameContainer, .timeContainer {
    min-width: 3rem;
    gap: -1rem;
    text-wrap: nowrap;
}

.timeContainer{
   text-align: right;
}

.nameContainer h1, .timeContainer h1 {
    font-size: 1rem;
    font-weight: 600;
}

.timeContainer p {
    font-size: 0.8rem;
    margin-top: -10px;
    color: var(--secondary-text-color);
}

.tagDesign {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 0 0.5rem;
    height:1.5rem;
    font-weight: 600;
}