.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
   align-items: stretch;
  width: 100%;
  overflow: hidden;
  height: 30rem; /* ⚠️ Lock to full screen height */
}

.appointNotif {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
  overflow-x: hidden;
  overflow-y: scroll;    /* ✅ Don't let children overflow horizontally */
  box-sizing: border-box;
  height:100%;
}

.appointNotif {
    /* Existing styles */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE/Edge */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.appointNotif::-webkit-scrollbar {
    display: none;
}

.patientGlance {
  display: flex;
  flex-direction: column;
   gap: 1rem;
   flex: 1;
   overflow: hidden;         /* ❌ completely prevent scroll */
  height: 100%;        /* 🔒 lock height */
  box-sizing: border-box;
}